* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

html, body {
  background-color: $hh-brand-primary;
  font-weight: $font-regular;
  color: $hh-brand-secondary;
  font-family: $base-font;
  height: 100%;
  width: 100%;
}

body {
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
}

ul, li {
  list-style: none;
}

button {
  font-size: 14px;
  background-color: $hh-brand-tertiary-light;
  border: 0;
  border-radius: $spacing-md;
  color: $hh-brand-secondary-light;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: 2px 3px 3px 0px $hh-brand-shadow;
  height: 48px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: $hh-brand-tertiary;
}

button:active {
  background-color: $hh-brand-tertiary;
  transform: translateY(2px);
}

hr {
  border-top: 1px solid $hh-brand-primary;
}
