@import '../../../assets/styles/core.scss';

.products__container {
  flex-direction: column;
  height: 100vh;
  display: flex;
}

.products__not-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: $md;
  padding: 0 $spacing-md;
  margin: 0 auto;
  height: 100%;

  @media screen and (min-width: $sm) {
    padding: 0 $spacing-2xl;
  }

  &--button {
    min-width: 150px;
  }

}

.products__items {
  overflow: auto;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0 auto;

  &--title {
    text-transform: uppercase;
    font-weight: $font-medium;
    font-size: 22px;
    margin-top: 0;
    text-align: center;
  }
}

.products__items--container {
  height: 100%;
  padding: 0 16px;
  max-width: $md;
  margin: 0 auto;

  @media screen and (min-width: $sm) {
    padding: 0 $spacing-2xl;
  }

}
