<app-header></app-header>

<ng-container *ngIf="idPoc; else notProduct">
  <app-breadcrumb [idPoc]="idPoc" [isAllProductsRoute]="false"></app-breadcrumb>
  <ng-container *ngFor="let category of categories">
    <app-box-product>
      <p>Categoria: {{ category?.title }}</p>

      <app-card-product
        [idCategory]="category?.id"
        [idPoc]="idPoc">
      </app-card-product>

      <button (click)="goToAllProducts()">Ver todos</button>
    </app-box-product>
  </ng-container>
</ng-container>

<app-footer></app-footer>

<ng-template #notProduct>
  Ops, nenhum produto foi encontrado, faça a pesquisa novamente!
  <button (click)="goToHome()"> Ir para Home </button>
</ng-template>
