@import '../../../../assets/styles/core.scss';

.card__container {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card__figure {
  background-color: $hh-brand-secondary-light;
  border-radius: 8px;
  padding: $spacing-lg;
  display: flex;
  flex-direction: column;
  margin: $spacing-lg;
  width: 200px;
  box-shadow: 2px 2px 8px 0px $hh-brand-shadow;
  justify-content: space-between;

  &--product-name {
    height: 70px;
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    font-weight: $font-medium;
    margin-top: $spacing-md 0 0;
  }

  &--price {
    font-size: 22px;
    font-weight: $font-medium;
    margin: 0;
  }
}

.card__figure--image {
  max-width: 150px;
}

.card__quantity {
  display: flex;
  justify-content: space-between;
  margin-top: $spacing-md;

  &--button {
    width: $spacing-2xl;
  }
}

.card__figure--opacity {
  opacity: .3;
}


