<div *ngFor="let product of products">
  <div *ngFor="let image of product?.images">
    <img [src]="image?.url" onerror="this.onerror=null;this.src='../../../../assets/images/icons/img-not-found.svg';" [alt]="product?.title"/>
    <div *ngFor="let productVariant of product?.productVariants">
      <p>{{ product?.title }}</p>
      <p> Valor original R$ {{ productVariant?.price }}</p>
      <p> {{ price ? (price | currency:'BRL':'symbol':'1.2-2' ) : (productVariant?.price | currency:'BRL':'symbol':'1.2-2') }}</p>
      <button (click)="decreasesPrice(productVariant?.price)">SUB</button>
      <p>{{ unit }}</p>
      <button (click)="increasesPrice(productVariant?.price)">SUM</button>
    </div>
  </div>
</div>
