@import '../.././../assets/styles/core.scss';

.error__container {
  flex-direction: column;
  height: 100vh;
  display: flex;
}

.error__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: $md;
  padding: 0 $spacing-md;
  margin: 0 auto;
  height: 100%;

  @media screen and (min-width: $sm) {
    padding: 0 $spacing-2xl;
  }

  &--image {
    width: 120px;

    @media screen and (min-width: $sm) {
      width: 250px;
    }

  }

  &--button {
    min-width: 150px;
  }
}
