@import '../../../../assets/styles/core.scss';

.header {
  background-color: $hh-brand-secondary;
  justify-content: space-between;
  padding: 0 $spacing-md;
  min-height: 70px;
  max-height: 70px;
  display: flex;
  flex: 0 0 auto;

  @media screen and (min-width: $sm) {
    padding: 0 $spacing-2xl;
  }

  &__logo {
    display: flex;
    flex: 1;

    &--image {
      max-width: $spacing-2xl;
    }

    &--name {
      color: $hh-brand-secondary-light;
      font-weight: $font-medium;
      padding-left: $spacing-sm;
      align-items: flex-end;
      display: flex;
    }
  }

  &__paragraph {
    display: none;

    @media screen and (min-width: $sm) {
      color: $hh-brand-secondary-light;
      font-weight: $font-medium;
      align-items: flex-end;
      display: flex;
    }

  }
}
