<footer class="footer">

  <section class="footer__social-link">
    <p class="footer__social-link--title">Redes Sociais</p>
    <ul class="footer__social-link--list">
      <li class="footer__social-link--list-item">
        <a href="https://github.com/suspecie" target="_blank">
          <img class="footer__social-link--image" src="../../../../assets/images/icons/github-white.svg" alt="Link do GitHub">
        </a>
      </li>
      <li class="footer__social-link--list-item">
        <a href="https://www.behance.net/suspecie" target="_blank">
          <img class="footer__social-link--image" src="../../../../assets/images/icons/behance-white.svg" alt="Link do Behance">
        </a>
      </li>
      <li class="footer__social-link--list-item">
        <a href="http://codetheelephant.com/" target="_blank">
          <img class="footer__social-link--image" src="../../../../assets/images/icons/wordpress-white.svg" alt="Link do Blog">
        </a>
      </li>
    </ul>
  </section>

  <section class="footer__attributions">
    <p class="footer__attributions--paragraph">Developed by
      <a class="footer__atributtions--link" href="https://www.linkedin.com/in/sspecie/" title="Link do Linkedin" target="_blank"><em>Su Specie</em></a>
    </p>
    <p class="footer__attributions--paragraph">Icons made by
      <a class="footer__atributtions--link" href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect" target="_blank"><em>Pixel perfect</em></a> from
      <a class="footer__atributtions--link" href="https://www.flaticon.com/" title="Flaticon"><em>www.flaticon.com</em></a>
    </p>
    <p class="footer__attributions--paragraph">Icons made by
      <a class="footer__atributtions--link" href="https://www.flaticon.com/authors/freepik" title="Freepik" target="_blank"><em>Freepik</em></a> from
      <a class="footer__atributtions--link" href="https://www.flaticon.com/" title="Flaticon"><em>www.flaticon.com</em></a>
    </p>
  </section>

</footer>
