@import '../../../assets/styles/core.scss';

.container {
  flex-direction: column;
  height: 100vh;
  display: flex;
}

.home {
  flex-direction: column;
  padding: 0 $spacing-md;
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  max-width: $md;
  margin: 0 auto;

  @media screen and (min-width: $sm) {
    padding: 0 $spacing-2xl;
  }

  &__image {
    display: none;

    @media screen and (min-width: $sm) {
      display: flex;
      width: 150px;
    }

    @media screen and (min-width: $md) {
      display: flex;
      width: 250px;
    }

    @media screen and (min-width: $xl) {
      display: flex;
      width: 350px;
    }
  }

  &__title--primary {
    font-weight: $font-medium;

    @media screen and (min-width: $sm) {
      text-align: center;
    }
  }

  &__title--secondary {
    font-weight: $font-light;
  }

  &__search {
    position: relative;
    width: 100%;
    margin: $spacing-md 0;
  }

}
