@import '../../../assets/styles/core.scss';

.container {
  flex-direction: column;
  height: 100vh;
  display: flex;
}

.home {
  flex-direction: column;
  padding: 0 $spacing-md;
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1 1 auto;

  @media screen and (min-width: $sm) {
    padding: 0 $spacing-2xl;
  }

  &__image {
    display: none;

    @media screen and (min-width: $sm) {
      display: flex;
      width: 225px;
    }
  }

  &__title--primary {
    font-weight: $font-medium;

    @media screen and (min-width: $sm) {
      text-align: center;
    }
  }

  &__title--secondary {
    font-weight: $font-light;
  }

}
