@import '../../../../assets/styles/core.scss';

.box-product__container {
  background-color: $hh-brand-secondary-light;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 3px 3px 0px $hh-brand-shadow;
  margin: 32px 0;
}
