<form [formGroup]="addressForm">
  <div class="search__group">
    <input class="search__group--input" type="text" formControlName="address">
    <button class="search__group--button" name="btnSearch" (click)="onSubmit()">Buscar</button>
  </div>

  <div *ngFor="let poc of pocs">
    <div (click)="goToProducts(poc.id)">
      <p>{{ poc?.tradingName }}</p>
      <p>{{ poc?.address?.address1 }} {{ poc?.address?.address2}}, {{ poc?.address?.number}} - {{ poc?.address?.city }}/{{ poc?.address?.province}}</p>
    </div>
  </div>
</form>

