@import '../../../../assets/styles/core.scss';

.search__group {
  padding: 0;
  display: flex;
  justify-content: space-between;

  &--input {
    border: 0px;
    box-shadow: 2px 3px 3px 0px $hh-brand-shadow;
    padding: 0 $spacing-md;
    height: $spacing-2xl;
    width: 70%;
    border-radius: 16px 0 0 16px;
    -webkit-appearance: none;

    @media screen and (min-width: $sm) {
      width: 75%;
    }
  }

  &--input:focus {
    outline: none;
  }

  &--button {
    width: 30%;

    @media screen and (min-width: $sm) {
      width: 25%;
    }
  }
}

.search__result {
  background-color: white;
  position: absolute;
  width: 100%;
  border-radius: 16px;
  top: 52px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 125px;

  @media screen and (min-width: $md) {
    max-height: 225px;
  }

  &--item {
    padding: $spacing-md;
    font-size: 14px;
    font-weight: 300;
  }

  &--item:hover {
    background-color: $hh-brand-primary-light;
  }

}

.search__result--paragraph {
  margin: $spacing-md;
}

.search_group--clear {
    background-color: $hh-brand-secondary-light;
    height: $spacing-2xl;
    display: inline-block;
    margin: 0;
    line-height: $spacing-2xl;
    border-radius: 0 16px 16px 0;
    width: 30px;
    margin-right: $spacing-sm;
    box-shadow: 2px 3px 3px 0px $hh-brand-shadow;
    cursor: pointer;
}

.search__result--cleared {
  display: none;
}



