@import '../../../../assets/styles/core.scss';

.search__group {
  padding: 0;
  display: flex;
  justify-content: space-between;

  &--input {
    border-radius: 16px;
    border: 0px;
    box-shadow: 2px 3px 3px 0px $hh-brand-shadow;
    padding: 0 $spacing-md;
    height: 48px;
    margin-right: $spacing-sm;
    width: 70%;

    @media screen and (min-width: $sm) {
      width: 75%;
    }
  }

  &--input:focus {
    outline: none;
  }

  &--button {
    width: 30%;

    @media screen and (min-width: $sm) {
      width: 25%;
    }
  }
}

.search__result {
  background-color: white;
  position: absolute;
  width: 100%;
  border-radius: 16px;
  top: 52px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 125px;

  @media screen and (min-width: $md) {
    max-height: 225px;
  }

  &--item {
    padding: 16px;
    font-size: 14px;
    font-weight: 300;
  }

  &--item:hover {
    background-color: $hh-brand-primary-light;
  }

}
